/*COLOUR SCHEME COLOURS 
SYMONSTOWE.CA - BLUE W ORANGE

MAIN BLUE        - #06799f
DARK GRAY BLUE   - #3b473b
need a medium grey
LIGHT GRAY BLUE  - #e6eff2
HIGHLIGHT ORANGE - #ff8300

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,  li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*HERE THE RESET IS FINISHED*/

/* Restore semantic emphasis after reset */
strong,
b {
  font-family: "LatoWebSemibold", "LatoWebBold", "Lato", sans-serif;
  font-weight: 700;
}

/*
========================================

Grid

========================================
*/

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#container {
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0px;
    padding-left: 0px;
    padding-right:0px;
    width: 100%;
    min-height: 100%;
}

/*

========================================

Main Styles

========================================

*/
.lato{
     font-family: "LatoWebLight", sans-serif;
}

.background{
    background: white;
    background-size: cover; 
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    background: white;
}

/*

===========================================

Headers

===========================================

*/

.brand_name {
    font-family: 'LatoWebLight', sans-serif;
    height:100%;
    background-color: #e6eff2; /* COLOUR LIGHT GRAY */ 
    background-color: white; 
    font-size: 50px;
    width: 100%;
}

.name {
    font-family: 'LatoWebLight', sans-serif;
    color: #3b473b;
    font-size: 72px;
    height: 72px;
    vertical-align: 7%;
}

img.name_pic {
    width:65px;
    height:65px;
}

.tagline {
    font-family: 'LatoWebLight', sans-serif;
    font-size: 25.5px;
    color: #56493B; /* COLOUR DARK GRAY */
    background: #e6eff2;
    background-color: white; 
    text-align: center;
    display: block;
    padding-bottom: 50px;
}

.main_page {
    padding-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: block;
    margin: auto;
    max-width: 643.5px;
    max-width: 850px;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 700px) {
    .name {font-size: 55px;}
    img.name_pic {
    width:48px;
    height:48px;
    margin-right: 0px;
}
    .tagline {
    font-size: 18.2px;
}

}

.main_heading {
    font-family: 'LatoWebLight', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-bottom: 5px;
}

.secondary_heading {
    font-family: 'LatoWebSemibold', sans-serif;
    font-size: 18px;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.about_heading {
    font-family: 'LatoWebSemibold', sans-serif;
    font-size: 18px;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 0px;
}
.pub_year {
    font-family: 'Lato-Black', sans-serif;
    font-size: 18px;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

.keywords {
    font-family: 'LatoWebLight', sans-serif;
    font-size: 18px;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-bottom: 5px;
    text-align: center;
}
.pub_type {
    font-family: 'LatoWebLight', sans-serif;
    font-size: 18px;
    color: #56493B; /* COLOUR DARK GRAY */
    display: block;
    padding-left: 10px;
}

a:link {
  color: #06799f;
}

ul {
    color: #3b473b;
    margin-bottom: 10px;
}

.column_a {
  float: left;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 15px;
}

.column_b {
  float: left;
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}
.about_row{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.contact{
    padding-top: 2px;
    text-align: center;
}

.about_section{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 80px;
    padding-top: 40px;
}

/* Clear floats after the columns */

img.face_pic {
    object-fit: cover;
    border-radius: 50%;
    height:160px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.about_row:after {
  content: "";
  display: table;
  clear: both;
  }

/* Add padding BETWEEN each column (if you want) */
.row{
    max-width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.row > .pf_column {
  padding: 8px;
  max-width: 196px;
}

/* Create three equal columns that floats next to each other */
.pf_column {
    width: 33.33%;
    display: none; /* Hide columns by default */
    justify-content: center;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: flex;
  flex-wrap: wrap;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  font-size: 15px;
  font-family: "latoWebLight";
  cursor: pointer;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

.project_blurb{
    font-size: 15px;
    font-family: "LatoWebLight";
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #e6eff2;
}

/* Add a dark background color to the active button */
.btn.active {
    background-color: #3b473b;
    color: white;
}

.about{
    font-family: "LatoWebLight";
    text-align: justify;
    font-size: 15px; 
    margin: 0px 2px 8px 0px;
}
